body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  position: relative;
  padding: 20px 40px 0 40px;
  width: 60%;
  max-width: 300px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.close-button {
  color: #c4c4c4;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

.content {
  padding-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

.content h2 {
  flex: 1;
}

.flex-row {
  display: flex;
  padding: 5px 0;
}

.flex-label {
  text-align: right;
  padding-right: 10px;
  flex: 3;
}

.flex-input {
  width: 100px;
  flex: 4;
  padding-left: 1px;
}

.range-input {
  flex: 1;
  width: 75px;
}

.flex-input-radio {
  text-align: left;
}

.add-input-button {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.pin-display {
  font-size: 1.8em;
  text-align: center;
  background-color: #ebebeb;
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  margin: 10px 50px 20px 50px;
}

.empty {
  color: #c4c4c4;
}

.pin-display div {
  flex: 1;
}

.pin-button {
  flex: 1;
  font-size: 1.6em;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
}

.pin-button:hover {
  background-color: #ebebeb;
}

.add-input-button:hover {
  background-color: #ebebeb;
}
